# Unity folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
sysinfo.txt

# VS / Rider / JetBrains
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Builds
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties

# Addressables
Assets/AddressableAssetsData/*/*.bin*
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*

# Zenject build meta
Assets/Plugins/Zenject/**/*.csproj.meta

# CustomGenerators artifacts
src/CustomGenerators/**/obj/
src/CustomGenerators/**/bin/

# OS
.DS_Store